@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    font-family: var(--font-work-sans);
    background-color: #EDF4F9;
    font-size: 1rem;
    color: #323643;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-lalezar);

}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.neu-box {
    box-shadow: 8px 8px 0px 0px #000;
}